/** ----------------------------------
        Colours and Padding
   ----------------------------------**/
$header-background-color: #734572;
$header-text-color: #b876f6;
$header-heading-text-color: #FF0000FF;
$navbar-background-hover: $header-background-color;
$sub-nav-colour: #58375a;

/** ----------------------------------
        Generic Header Stuff
   ----------------------------------**/
header {
  background-color: $header-background-color;
  display: flex;
  top: 0;
  margin-bottom: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;

  h1 {
    color: $header-text-color;
  }
  
  img {
    height: 70px;
    width: 70px;
  }
}

/** ----------------------------------
        Navigation Bar Elements
   ----------------------------------**/
nav {
  width: 100%;

  ul {
    list-style-type: none;
    padding: 8px;
    margin: 0;
    display: flex;
    justify-content:space-between;
    background-color: $sub-nav-colour;
    align-items: center;

    li {
      margin-right: 20px;

      a {
        color: $header-heading-text-color;
        text-decoration: none;
        padding: 10px;
        transition: color 0.3s;

        &:hover {
          color: #ccc;
          background-color: $navbar-background-hover;
          width: 100%;
        }
      }


    }
  }


}
