/** ----------------------------------
        Colours and Padding
   ----------------------------------**/

//Card Colours
$card-base-colour: #333032;

/** ----------------------------------
        Cue Card Styling
   ----------------------------------**/


.card {
  background-color: $card-base-colour;
  width: 55%;
  border-radius: 5%;
  padding: 7px;
  min-height: 400px;


  img {
    background-position: top;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  height:auto;

  .gridItem {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}

/** ----------------------------------
        Icons Styling
   ----------------------------------**/

.material-symbols-outlined {
  display: none;
}